body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.input-field label.multiselect-label, .input-field label.switch-label {
	position: absolute;
	top: -26px;
	font-size: .8rem;
}

.switch label input[type=checkbox]:checked ~.lever {
	background-color: #84c7c1;
}

.switch label input[type=checkbox]:checked ~.lever:before, .switch label input[type=checkbox]:checked
    ~.lever:after {
	left: 18px;
}

.switch label input[type=checkbox]:checked ~.lever:after {
	background-color: #26a69a;
}

.switch label input[type=checkbox]:checked ~.lever:before, .switch label input[type=checkbox]:checked
    ~.lever:after {
	left: 18px;
}

.page-footer {
	background-color: #4caf88;
}

/* Changes */
nav {
	background-color: #4caf88;
}

body .row nav .button-reset i {
	padding: 0;
}

.current-user {
	font-weight: bold;
	display: flex;
	align-items: center;
	position: absolute;
	right: 15px;
	top: 0px;
	/*  line-height: initial; */
	text-align: center;
}

.current-user .material-icons {
	padding-left: 5px;
	font-size: 30px;
}

.locale {
	font-weight: bold;
	position: absolute;
	top: 0rem;
	text-align: center;
}

nav .brand-logo {
	padding-left: 1rem;
}

nav .input-field {
	display: flex;
}

nav .input-field label.active i, nav .input-field label i {
	color: black;
}

.nav-wrapper .input-field input[type=search] {
	padding-left: 5.5rem;
}

.search-from-db {
	height: 5rem;
	background-color: transparent;
}

.search-from-db .material-icons {
	font-size: 3rem;
	padding-top: 0.5rem;
}

.button-reset, .button-reset:focus {
	background: transparent;
	border: none;
}

.button-reset:hover {
	transition: 0.5s;
}

.button-reset:active {
	transform: scale(0.8);
	transition: 0.15s;
}

/* Item properties */
.item-table td {
	border-right: 1px solid lightgrey;
}

.no-transfer {
	white-space: nowrap;
}

.font-my-set {
	font-size: 14px;
}

/* .offset-class {
	transform: translateX(-10%);
	width: 90vw;
} */
.private-menu, .private-menu:hover, .private-menu:active {
	background: transparent;
	box-shadow: none;
	display: flex;
	align-items: center;
}

.private-menu-mod {
	top: 64px !important;
	width: auto !important;
}

.private-menu-mod a {
	white-space: nowrap;
	font-weight: 500;
}

.center {
	padding-top: 70px;
}

.pagination li.active {
    background-color: #4caf88;