body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
	padding-bottom: 10px;
}

table {
	margin-bottom: 10px;
}

.input-field label.multiselect-label, .input-field label.switch-label {
	position: absolute;
	top: -26px;
	font-size: .8rem;
}

.switch label input[type=checkbox]:checked ~.lever {
	background-color: #84c7c1;
}

.switch label input[type=checkbox]:checked ~.lever:before, .switch label input[type=checkbox]:checked
    ~.lever:after {
	left: 18px;
}

.switch label input[type=checkbox]:checked ~.lever:after {
	background-color: #26a69a;
}

.switch label input[type=checkbox]:checked ~.lever:before, .switch label input[type=checkbox]:checked
    ~.lever:after {
	left: 18px;
}

/* Changes #778899 and #4caf88*/

.page-footer {
	background-color: #778899;
}

.footer-my-set a:hover {
	text-decoration: underline;
}

nav {
	background-color: #778899;
}


/* Top-design properties -------------------------------------------------------------------------------- */

.current-user {
	font-weight: bold;
	display: flex;
	align-items: center;
	position: absolute;
	right: 15px;
	top: 0px;
	text-align: center;
}

.current-user .material-icons {
	padding-left: 5px;
	font-size: 30px;
}

.locale {
	font-weight: bold;
	position: absolute;
	top: 0rem;
	text-align: center;
}

nav .brand-logo {
	padding-left: 1rem;
}

/* .language-select {
  display: inline-flex;
  flex-direction: column;
  color: #fff;
  text-transform: uppercase;
  height: 40px;
  overflow: hidden;
  cursor: pointer;
}
.language-select li {
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  order: 2;
  padding: 10px;
  min-height: 40px;
}
.language-select li:hover {
  cursor: pointer;
}
.language-select.open {
  height: auto;
}
.language-select li.active {
  order: 1;
  pointer-events: none;
} */

/* Search properties -------------------------------------------------------------------------------- */

nav .input-field {
	display: flex;
}

nav .input-field label.active i, nav .input-field label i {
	color: black;
}

.nav-wrapper .input-field input[type=search] {
	padding-left: 5.5rem;
}

.search-from-db {
	height: 5rem;
	background-color: transparent;
}

.search-from-db .material-icons {
	font-size: 3rem;
	padding-top: 0.5rem;
}

.button-reset, .button-reset:focus {
	background: transparent;
	border: none;
}

.button-reset:hover {
	transition: 0.5s;
}

.button-reset:active {
	transform: scale(0.8);
	transition: 0.15s;
}

body .row nav .button-reset i {
	padding: 0;
}

/* Item-view grid properties -------------------------------------------------------------------------------- */

.grid-container {
	display: grid;
	grid-template-columns: 40% 40% 20%;
	grid-template-rows: 80% 20%;
	grid-template-areas: "column-1 column-2 column-3" "row-2 row-2 row-2";
	padding-top: 2rem;
}

.column-2 {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas: "ct-one" "ct-two" "ct-three";
	grid-area: column-2;
	margin: 10px 0 5px 5px;
}

.ct-one {
	grid-area: ct-one;
	padding: 0 20px 0 20px;
	margin: 0 5px 5px;
}

.ct-two {
	grid-area: ct-two;
	padding: 20px;
	margin: 0 5px 8px;
	border: 1px solid #ccc;
	box-shadow: 3px 4px 5px -4px rgba(112,112,112,1);
}

.ct-three {
	grid-area: ct-three;
	padding: 20px;
	margin: 0 5px;
	border: 1px solid #ccc;
	box-shadow: 3px 4px 5px -4px rgba(112,112,112,1);
}

.column-1 {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: "photo-area";
	grid-area: column-1;
	margin: 10px 0 5px 10px;
	border: 1px solid #ccc;
	box-shadow: 3px 4px 5px -4px rgba(112,112,112,1);
}

.photo-area {
	grid-area: photo-area;
	padding: 20px;
	display: flex;
    justify-content: center;
    align-items: center;
}

.row-2 {
	display: grid;
	grid-template-columns: 80%;
	grid-template-rows: 100%;
	grid-template-areas: "com-row-2";
	grid-area: row-2;
	margin: 10px;
}

.com-row-2 {
	grid-area: com-row-2;
	padding: 20px;
	border: 1px solid #ccc;
	box-shadow: 3px 4px 5px -4px rgba(112,112,112,1);
}

.column-3 {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 66.666666%;
	grid-template-areas: "half-area";
	grid-area: column-3;
}

.half-area {
	grid-area: half-area;
	padding: 0 20px 20px 20px;
	margin: 10px 10px 6px 10px;
	border: 1px solid #ccc;
	box-shadow: 3px 4px 5px -4px rgba(112,112,112,1);
}

/* Private-menu properties -------------------------------------------------------------------------------- */

.private-menu, .private-menu:hover, .private-menu:active {
	background: transparent!important;
	box-shadow: none;
	display: flex;
	align-items: center;
}

.private-menu-mod {
	width: auto !important;
}

.private-menu-mod a {
	white-space: nowrap;
	font-weight: 500;
}

/* Item-list-view properties -------------------------------------------------------------------------------- */

.small-item-image {
	border-radius: 10%;
	max-width: 150;
	max-height: 150;
}

.main-item-image {
	max-height: 100%;
    max-width: 490px;
    /* width: 100%; */
}

.image-column-set {
	width: 200;
}

.font-my-set {
	font-size: 14px;
}

.font-my-set a:hover {
	text-decoration: underline;
}

.no-transfer {
	white-space: nowrap;
}

/* .item-table td {
	border-right: 1px solid lightgrey;
} */

.item-name {
	font-weight: bold;
	font-size: 1.1rem;
}

.seller-name {
	color: #4682B4;
	font-weight: bold;
}

.information-list li {
	margin: 0.5rem; 
}

.information-list {
	margin: 0;
}

.information-list a:hover {
	text-decoration: underline;
}

.bid-table a:hover {
	text-decoration: none;
}

.add-watch-list {
	padding-top: 8rem;
}

.information-list li>a>i {
    float: left;
    margin-right: 0.5rem;
}

q {
    font-style: italic;
    quotes: "\201c" "\201d"; 
}

table.striped>tbody>tr>td {
    padding: 5px 5px; 	
}

.bidClass {
    border: 1px solid #999!important;
    width: 190px!important;
    height: 30px!important;
    text-align:right;
    padding-right: 5px!important;
    margin-top: 10px!important;
}

.bid-botton {
	width: 8rem;
}

/* General Setting -------------------------------------------------------------------------------- */

.btn {
	background-color: #778899;
}

.btn:hover, .color-button:active {
	background: #97aabb;
} 

.color-icon {
	background-color: #6a9bc5;
}

.color-icon:hover, .color-icon:active, .color-icon-delete:hover,  .color-icon-delete:active {
	background: #97aabb;
}

.color-icon-delete {
	background-color: #e14b4b;
}

.pagination li.active {
	background-color: #778899;
}

.dropdown-content li>a, .dropdown-content li>span {
    color: #778899;
}

.login-page {
	padding-top: 8rem;
}

.dropdown-content {
	top: 65px !important;
}

/* Feedback-stars Setting -------------------------------------------------------------------------------- */

.star-rating{
	font-size: 0;
}
.star-rating__wrap{
	display: inline-block;
	font-size: 2rem;
}
.star-rating__wrap:after{
	content: "";
	display: table;
	clear: both;
}
.star-rating__ico{
	float: right;
	padding-left: 0.5rem;
	cursor: pointer;
	color: #FFB300;
}
.star-rating__ico:last-child{
	padding-left: 1rem;
}
.star-rating__input{
	display: none;
}
.star-rating__ico:hover:before,
.star-rating__ico:hover ~ .star-rating__ico:before,
.star-rating__input:checked ~ .star-rating__ico:before
{
	content: "\f005";
}

.feedback-name {
	display: block;
	padding-bottom: 1.5rem;
}






