body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
	padding-bottom: 10px;
}

table {
	margin-bottom: 10px;
}

.input-field label.multiselect-label, .input-field label.switch-label {
	position: absolute;
	top: -26px;
	font-size: .8rem;
}

.switch label input[type=checkbox]:checked ~.lever {
	background-color: #84c7c1;
}

.switch label input[type=checkbox]:checked ~.lever:before, .switch label input[type=checkbox]:checked
    ~.lever:after {
	left: 18px;
}

.switch label input[type=checkbox]:checked ~.lever:after {
	background-color: #26a69a;
}

.switch label input[type=checkbox]:checked ~.lever:before, .switch label input[type=checkbox]:checked
    ~.lever:after {
	left: 18px;
}

/* Changes #778899 and #4caf88*/
.page-footer {
	background-color: #4caf88;
}

nav {
	background-color: #4caf88;
}

body .row nav .button-reset i {
	padding: 0;
}

.current-user {
	font-weight: bold;
	display: flex;
	align-items: center;
	position: absolute;
	right: 15px;
	top: 0px;
	/*  line-height: initial; */
	text-align: center;
}

.current-user .material-icons {
	padding-left: 5px;
	font-size: 30px;
}

.locale {
	font-weight: bold;
	position: absolute;
	top: 0rem;
	text-align: center;
}

nav .brand-logo {
	padding-left: 1rem;
}

nav .input-field {
	display: flex;
}

nav .input-field label.active i, nav .input-field label i {
	color: black;
}

.nav-wrapper .input-field input[type=search] {
	padding-left: 5.5rem;
}

.search-from-db {
	height: 5rem;
	background-color: transparent;
}

.search-from-db .material-icons {
	font-size: 3rem;
	padding-top: 0.5rem;
}

.button-reset, .button-reset:focus {
	background: transparent;
	border: none;
}

.button-reset:hover {
	transition: 0.5s;
}

.button-reset:active {
	transform: scale(0.8);
	transition: 0.15s;
}

/* Item properties -------------------------------------------------------------------------- */
.item-table td {
	border-right: 1px solid lightgrey;
}

.no-transfer {
	white-space: nowrap;
}

.font-my-set {
	font-size: 14px;
}

.grid-container {
	display: grid;
	grid-template-columns: 40% 40% 20%;
	grid-template-rows: 80% 20%;
	grid-template-areas: "column-1 column-2 column-3" "row-2 row-2 row-2";
	padding-top: 2rem;
}

.column-2 {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas: "ct-one" "ct-two" "ct-three";
	grid-area: column-2;
	margin: 10px 0 5px 5px;
}

.ct-one {
	grid-area: ct-one;
	padding: 20px;
	background: cyan;
	margin: 0 5px 8px;
}

.ct-two {
	grid-area: ct-two;
	padding: 20px;
	background: green;
	margin: 0 5px 8px;
}

.ct-three {
	grid-area: ct-three;
	padding: 20px;
	background: purple;
	margin: 0 5px;
}

.column-1 {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: "photo-area";
	grid-area: column-1;
	background: red;
	margin: 10px 0 0 10px;
}

.photo-area {
	grid-area: photo-area;
	padding: 20px;
}

.row-2 {
	display: grid;
	grid-template-columns: 80%;
	grid-template-rows: 100%;
	grid-template-areas: "com-row-2";
	grid-area: row-2;
	margin: 10px;
}

.com-row-2 {
	grid-area: com-row-2;
	padding: 20px;
	background: gray;
}

.column-3 {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 68%;
	grid-template-areas: "half-area";
	grid-area: column-3;
}

.half-area {
	grid-area: half-area;
	background: lightgreen;
	padding: 20px;
	margin: 10px 10px 6px 10px;
}

/* ------------------------------------------------------------------------------------------------ */

.private-menu, .private-menu:hover, .private-menu:active {
	background: transparent;
	box-shadow: none;
	display: flex;
	align-items: center;
}

.private-menu-mod {
	top: 64px !important;
	width: auto !important;
}

.private-menu-mod a {
	white-space: nowrap;
	font-weight: 500;
}

.login-page {
	padding-top: 8rem;
}

.pagination li.active {
	background-color: #4caf88;
}

.info-edit-delete {center;
	max-width: 100;
}

img {
	border-radius: 10%;
	max-height: 150;
	max-height: 150;
}

.image-column-set {
	width: 200;
}